<ion-view id="new-chat" view-title="Créer un chat">
  <ion-content has-bouncing="true" class="has-header has-footer">
    <form name="form" novalidate>
      <label>Name:
      <input type="text" ng-model="name" name="name" required="" />
    </label>
      <div ng-show="form.$submitted">
        <div ng-show="form.name.$error.required">Name is required.</div>
      </div>
      <br />


      <label>Description:
      <input type="text" ng-model="description" name="description" required="" />
    </label>
      <div ng-show="form.$submitted">
        <span ng-show="form.description.$error.required">Description is required.</span>
      </div>
      <br />
      <input type="submit" ng-click="form.$valid && createChat(name, description)" value="Créer" />
    </form>
  </ion-content>
</ion-view>