<ion-view view-title="Connexion">
    <ion-content>
        <form name="form" novalidate>
            <div class="list card">
                <label class="item item-input"><input ng-model="email" type="text" name="email" placeholder="Email" class="item" required=""/></label>
                <div ng-show="form.$submitted">
                    <div ng-show="form.email.$error.required">Email is required.</div>
                </div>
                <label class="item item-input">
          <input ng-model="password" type="password" name="password" placeholder="Password" class="item" required=""/>
        </label>
                <div ng-show="form.$submitted">
                    <div ng-show="form.password.$error.required">Password is required.</div>
                </div>
            </div>
            
            <div class="text-center list card">
                <input class="button button-block button-stable" type="submit" ng-click="form.$valid && signin(email, password)" value="Se connecter"
                />
            </div>
        </form>
        <div class="text-center">
            <a href="#/signup">
      Créer un compte
    </a>
        </div>
    </ion-content>
</ion-view>

"_id": "589b2866cd807e41dbc48d70",
        "email": "crystalmack@crustatia.com",
        "phone": "+1 (998) 456-2857",
        "firstName": "Misty",
        "lastName": "Booker",
        "password": "PLOP"