<ion-view view-title="Connexion">
    <ion-content>
        <form name="form" novalidate>
            <div ng-show="tried">
                Vos informations ne sont pas bonnes.
            </div>
            <my-input-dir model="email" placeholder="Email" form="form" />
            <my-input-dir model="password" placeholder="Password" form="form" />
            <div class="text-center list card">
                <input class="button button-block button-stable" type="submit" ng-click="form.$valid && signin(email, password)" value="Se connecter"/>
            </div>
        </form>
        <div class="text-center">
            <a href="#/signup">
      Créer un compte
    </a>
        </div>
    </ion-content>
</ion-view>