<ion-view view-title="Paramètres">
  <ion-content>

    <div class="card">
      <div class="item item-divider">
        Mon compte
      </div>
      <div class="item item-avatar">
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/4d/Cat_March_2010-1.jpg">
        <p>{{user.firstName}} {{user.lastName}}</p>
        <p>{{user.email}}</p>
      </div>
    </div>

    <button ng-click="logout()" class="button button-block button-assertive">
      Se déconnecter
    </button>

  </ion-content>
</ion-view>