<ion-view view-title="Contacts">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search" ng-model="queryContact">
  </label>
        </div>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="contact in contacts | ContactsFltr:this | orderBy:'firstName'"
                type="item-text-wrap" href="#/tab/contacts/{{contact.id}}">
                <h2>{{contact.firstName}} {{contact.lastName}}</h2>
                </ion-item>
        </ion-list>
    </ion-content>
</ion-view>